h2 {
    color:rgb(25, 107, 115);
    margin: 0pt;
    margin-top: 10%;
    
    }
p {
    color:rgb(72, 72, 135);
    padding: 10%;
    }
.box-1 {
    width: 200px;
    height: auto;
    background-color: rgb(125, 177, 160);
    text-align: left;
    }
.box-2{
    width: 300px;
    height: auto;
    background-color: rgb(63, 103, 89);
    }
    .box-2 p {
        padding: 0%;
        color:rgb(142, 244, 208)
    }
    .left {width:120px; height: 100px;}
    .middle {max-width: 300px;}
    .right {min: width 50px; }
    .left img {width: 100%;height: 100%;}
    